body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h5 {
  font-weight: 500;
  font-size: 12px;
}

h1 {
  font-weight: 700;
  letter-spacing: 2.0px;
  font-size: 22px;
}

.d-flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.p-1 {
  padding: 4px;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.pl-2 {
  padding-left: 8px;
}

.p-3 {
  padding: 16px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.bg-blue {
  background: #4369B2;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-image {
  background-image: url('./images/crypto.jpeg'), linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.443));
  ;
  background-blend-mode: overlay;
  background-size: cover;
  height: 250px;
}

.bg-drop {
  position: absolute;
  top: 55px;
  right: 0;
  text-align: right;
}

.bg-drop-blue {
  padding: 10px 15px;
  background-color: #284e956b;
}

.bg-drop-blue:nth-child(odd) {
  background-color: #284e95;
}

tr {
  background-color: #284e95;
}

.bg-drop .fa-regular {
  font-size: 22px;
  font-weight: 100;
  margin-top: 51px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.bg-load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 80px;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.936);
}

form {
  padding: 8px;
  text-align: center;
}

form span {
  font-size: 18px;
  font-weight: 500;
}

.card {
  display: grid;
  grid-template-columns: auto;
  margin-top: 40px;
}

.card article:nth-child(3n - 2) {
  background-color: #14336d5e;
}

i {
  border: none;
  background-color: transparent;
  color: white;
  margin: 8px;
  float: right;
}

.align-items {
  align-items: center;
}

.card-body {
  align-items: center;
  padding: 10px;
  max-width: 100%;
  height: 99px;
}

.card-body h3 {
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 19px;
}

.card-body p {
  font-weight: 700;
  font-size: 14px;
}

.text-yellow {
  color: yellow;
}

.text-center {
  text-align: center;
}

form input {
  border: none;
  width: 90%;
  height: 45px;
  border-radius: 8px;
  padding: 0 12px;
  margin: 8px 0;
}

form button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  background-color: #284e95;
  height: 38px;
  border-radius: 8px;
  width: 150px;
  color: #fff;
}

form button:hover {
  background-color: #14336d;
}